/* Responsive css */

/* Desktop */
@media (min-width: 1920px) {
    .posts_page {
        background-size: 40%;
    }
    .buy_top {
        background-size: 130%;
        margin-top: -1px;
    }
    .new_ads {
        text-align: center;
    }
    .single_ads {
        margin: 0 19px;
    }
    .tips_top {
        background-size: 130%;
    }




}



/* Tablet Large */
@media (min-width: 1024px) and (max-width: 1300px) {
    .recent_posts .post_img img {
        width: 100%;
    }
    .post_other {
        padding-top: 125px;
    }
    .author_profile {
        padding: 30px 0;
    }
    .author_content p {
        padding-right: 0px;
    }
    .author_content {
        padding-top: 20px;
    }
    .author_gallery {
        padding: 30px 0 30px 30px;
    }
    .new_ads a {
        padding: 10px 20px 10px 10px;
        font-size: 16px;
    }
    .buy_top {
        background-size: 210%;
    }







}


/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .primary-menu ul li a {
        font-size: 20px;
    }
    .primary-menu ul li {
        padding-left: 35px;
    }
    .primary-menu {
        padding: 26px 0;
    }
    .post_other {
        padding-top: 85px;
    }
    .post_content h4 {
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 25px;
    }
    footer {
        padding: 30px;
    }
    .posts_page {
        background-size: 42%;
    }
    .recent_posts .post_img img {
        width: 100%;
    }
    .recent_posts .post_text p {
        font-size: 14px;
    }
    .author_profile {
        padding: 30px 0;
    }
    .author_content {
        padding-left: 20px;
        padding-top: 0;
    }
    .author_content h2 {
        font-size: 30px;
    }
    .author_content p {
        padding-right: 0;
    }
    .create_post {
        padding: 0;
    }
    .post_submit {
        font-size: 20px;
    }
    .author_gallery {
        padding: 30px 0;
    }
    .author_gallery .nav-link {
        font-size: 24px;
    }
    .create_post h3 {
        font-size: 28px;
    }
    .author_gallery h5 {
        font-size: 18px;
    }
    .single_ads {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .new_ads {
        text-align: center;
    }
    .adopt_pets h3 {
        font-size: 20px;
    }
    .buy_icon img {
        width: 80px;
    }
    .buy_icon {
        padding-top: 30px;
        width: 230px;
        height: 230px;
    }
    .buy_top {
        background-size: 210%;
    }
    .contact_page {
        background-position: top right;
        padding-top: 90px;
        padding-bottom: 30px;
    }
    .contact_content h2 {
        font-size: 30px;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
        margin-bottom: 20px;
    }
    .contact_content ul li a img {
        width: 40px;
    }
    .contact_content ul li {
        padding-left: 10px;
    }
    
    .tips_icon {
        padding-top: 50px;
        width: 250px;
        height: 250px;
    }
    .tips_icon img {
        width: 120px;
    }
    .tips_top {
        padding-top: 20px;
    }
    .tips_title h3 {
        font-size: 32px;
        margin-top: -70px;
        padding-bottom: 30px;
    }
    .tips_tabs h3 {
        font-size: 20px;
    }







}

/* Mobile */
@media (max-width: 767px) {
    .main_header {
        display: none;
        width: 0;
        visibility: hidden;
    }
    .mobile_menu_area {
        display: block;
        position: relative;
        background-color: #17262A;
        padding: 5px 0;
    }
    .mobile_menu {
        background: #17262A;
        width: 0%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        padding: 20px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }
    .mobile_menu li a {
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        display: block;
        text-transform: capitalize;
        margin-bottom: 5px;
    }
    .menu_close {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .menu_close p {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        height: 30px;
        width: 30px;
        text-align: center;
        padding-top: 2px;
        background: #ED8618;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .mobile_icon {
        text-align: right;
        padding-top: 25px;
    }
    .mobile_icon p {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        cursor: pointer;
        display: inline-block;
        padding: 5px;
    }
    .posts_page {
        background-size: 100%;
        padding: 30px 0 10px;
    }
    .post_other {
        padding-top: 60px;
    }
    .post_other a i {
        font-size: 40px;
    }
    .post_content h4 {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .see_more a {
        font-size: 16px;
        padding: 6px 20px;
    }
    .posts_sidebar {
        padding-top: 30px;
    }
    .recent_posts h3 {
        padding-bottom: 5px;
        margin-bottom: 15px;
    }
    .recent_posts .post_img {
        width: 35%;
    }
    .recent_posts .post_text {
        width: 65%;
    }
    footer {
        padding: 20px;
    }
    .doctor_icon img {
        width: 180px;
    }
    .doctor_icon {
        padding-top: 70px;
    }
    .doctor_icon h3 {
        font-size: 30px;
    }
    .dorctor_btm {
        padding: 30px 0;
        margin-bottom: 100px;
    }
    .dorctor_btm button.owl-prev {
        width: 50px;
        height: 50px;
        left: 30%;
        font-size: 35px !important;
        bottom: -90px;
    }
    .dorctor_btm button.owl-next {
        width: 50px;
        height: 50px;
        right: 30%;
        font-size: 35px !important;
        bottom: -90px;
    }
    .author_profile {
        padding: 30px 0;
    }
    .author_img img {
        border: 2px solid #17262A;
        margin-top: 20px;
    }
    .author_content {
        width: 100%;
        padding-top: 0px;
        padding-left: 0;
    }
    .see_activites {
        padding: 0;
    }
    .author_content h2 {
        font-size: 25px;
    }
    .single_gallery img {
        width: 100%;
        height: auto;
    }
    .author_content p {
        padding-right: 0;
    }
    .create_post {
        padding: 0;
    }
    .author_gallery {
        padding: 30px 0 20px;
    }
    .post_submit {
        font-size: 18px;
    }
    .author_gallery .nav-link {
        font-size: 24px;
    }
    .author_gallery h5 {
        font-size: 16px;
    }
    .create_post h3 {
        font-size: 24px;
    }
    .buy_top {
        padding-top: 0;
        background-size: 230%;
    }
    .buy_title h3 {
        font-size: 30px;
        margin-top: -40px;
        padding-bottom: 0px;
    }
    .single_ads {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .new_ads {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }
    .new_ads a {
        padding: 22px 60px 20px 30px;
        font-size: 18px;
    }
    .buy_icon {
        padding-top: 25px;
        width: 160px;
        height: 160px;
    }
    .buy_icon img {
        width: 60px;
    }
    .new_ads.desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .contact_page {
        margin-top: -80px;
        padding-top: 120px;
        padding-bottom: 50px;
    }
    .secondary-menu {
        display: none;
    }
    .contact_content h2 {
        font-size: 30px;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
        margin-bottom: 25px;
    }
    .contact_content ul li a img {
        width: 35px;
    }
    .contact_content ul li {
        padding-left: 15px;
    }
    .banner-text {
        padding-left: 10%;
        padding-top: 70px;
    }
    .banner-text h1 {
        font-size: 48px;
        color: #fff;
    }
    .login-img {
        padding-top: 50px;
    }
    .login-form input {
        margin-bottom: 20px;
    }
    .login-form input[type="submit"] {
        height: 55px;
        font-size: 20px;
        color: #fff;
        line-height: 33px;
        margin-bottom: 10px;
    }
    .home-banner {
        background-image: url(../imgs/index-bg-mobile.png);
        background-repeat: no-repeat;
        background-position: top left;  
        margin-left: 0px;
        padding-top: 70px;
    }
    .signup-btn {
        text-align: center;
        padding-top: 100px;
    }
    .signup-btn a {
        padding: 8px 40px;
        font-size: 30px;
    }
    .banner-btm-text p {
        font-size: 18px;
    }
    .banner-btm-text {
        padding-top: 20px;
        padding-bottom: 0;
        margin-top: 60px;
    }
    .tips_icon img {
        width: 100px;
    }
    .tips_icon {
        padding-top: 100px;
        width: 180px;
        height: 190px;
    }
    .tips_top {
        padding-top: 0;
        background-size: 250%;
    }
    .tips_title h3 {
        font-size: 30px;
        margin-top: -30px;
    }
    .tips_tabs h3 {
        font-size: 16px;
        font-weight: 700;
    }
    .tips_btm {
        padding-bottom: 0;
    }
    .about_us {
        padding-bottom: 40px;
    }
    .about_us h2 {
        padding-top: 30px;
    }
    .group_member {
        padding-bottom: 20px;
    }
    .single_ads img {
        height: auto;
    }
    .adopt_pets {
        padding-top: 40px;
    }
    .modal-body a {
        display: block;
        margin-bottom: 20px;
    }
    .single-item img {
        height: auto;
    }
    .form-outer {
        margin-left: 0;
    }
    .author_img {
        width: 100%;
        padding-top: 0px;
    }
    .author_img img {
        width: 60%;
        margin-left: 20%;
        margin-bottom: 20px;
    }
    .update_topic {
        padding: 0;
        padding-bottom: 50px;
    }
    .profile_sidebar {
        margin: 30px 0;
    }
    .update_topic h2 {
        padding-bottom: 10px;
        font-size: 30px;
    }
    .author_gallery ul li {
        display: block;
        width: 100%;
    }
    #myTabContent {
        width: 830px;
        overflow-x: scroll;
    }
    .search_area input[type="text"] {
        width: 100%;
        margin-bottom: 5px;
    }
    .search_area input[type="submit"] {
        width: 50%;
        margin-left: 25%;
    }
    .post_other li {
        padding-bottom: 20px;
    }
    .post_other li a {
        margin-bottom: 0px;
    }
    .posts_page, .search_page {
        background-size: 100%;
    }
    .home-banner img {
        width: 100%;
    }
    .service_item.eight img {
        width: 100%;
    }
    .banner-text p {
        color: #000;
        padding-top: 55px;
    }
    .service_item.one, .service_item.three, .service_item.five, .service_item.seven {
        padding-left: 0;
    }
    br {
        display: none;
    }
    .service_item.three {
        padding-top: 0;
    }
    .service_item.five img {
        width: 100%;
    }
    .service_item.six {
        padding-top: 5px;
    }
    .service_item.seven {
        padding-top: 0px;
    }
    .pet_care {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .pet_care h2 {
        font-size: 30px;
    }
    .footer_sociaa {
        text-align: left;
        padding-top: 30px;
    }
    .footer_contact ul li {
        font-size: 16px;
    }
    .signup-page {
        background-size: cover;
        background-position: center;
    }
    .login-form {
        padding-top: 0;
    }
    .login-page {
        background-size: cover;
    }
    .forget_passw {
        width: 100%;
    }
    .post_content {
        padding-right: 0;
    }
    .post_content h4 {
        padding-left: 0;
    }
    .post_other {
        padding-left: 20px;
    }
    .pagination {
        flex-wrap: wrap;
    }
    .single-page .post_content {
        padding: 0;
    }
    .buy_icon {
        margin-top: -160px;
    }
    .adopt_pets h3 {
        font-size: 25px;
    }
    .single_ads img {
        width: 100%;
    }
    .buy_top.buy_sell .buy_icon {
        margin-top: -8px;
        height: 150px;
    }
    .buy_title {
        margin-top: 30px;
        padding-bottom: 10px;
    }
    .buy_icon.sells {
        height: 90px;
        margin-top: 0;
    }
    .adoption_single_page h3 {
        font-size: 24px;
    }
    .update_profile_info {
        width: 100%;
        padding-right: 0;
    }
    .update-inner {
        padding: 15px;
        margin: 20px 0;
    }
    .update_pic {
        width: 100%;
    }
    .update_topic input[type="submit"] {
        margin-top: 0;
    }
    .tips_tabs ul li a {
        font-size: 18px;
    }
    .tips_tabs {
        padding-bottom: 30px;
    }
    .donate_page {
        background-size: 100%;
    }
    .contact_content {
        text-align: left;
        padding-top: 50px;
    }
    .contact_content p {
        font-size: 30px;
        letter-spacing: 0px;
    }
    .group_member img {
        margin-top: 20px;
    }
    .group_member.afroza img {
        margin-top: 30px;
    }
    .contact_page {
        margin-top: 0;  
        background-size: 100%;
    }
    .about_us_page.about_secondary {
        padding-top: 0;
    }





}

