/* Secondary Menu css */

.secondary-menu {
    text-align: right;
    padding: 20px 0;

}
.secondary-menu ul li {
    display: inline;
    padding-left: 40px;
}
.secondary-menu ul li a {
    display: inline-block;
    font-size: 18px;
    color: #333;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.5s;
    position: relative;
}
.secondary-menu ul li a::after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ED8618;
    transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.secondary-menu ul li a:hover:after {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

/* ========================= */


.home-banner {
    background-image: url(assets/imgs/dog-with-girl.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    margin-top: -76px;
    margin-left: -10px;
    padding-top: 70px;
}
.banner-text {
    padding-left: 57%;
    padding-top: 100px;
}
.banner-text h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.signup-page {
    background-image: url(assets/imgs/signup.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 50% 100%;
    margin-top: -76px;
    padding-top: 70px;
    padding-bottom: 30px;
}
.signup-btn {
    text-align: right;
    padding-top: 200px;
}
.signup-btn a {
    background: #ED8618;
    padding: 15px 55px;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 46px;
    border: 5px solid #ED8618;
    transition: all 0.5s;
}
.signup-btn a:hover {
    border: 5px solid #ED8618;
    background-color: transparent;
    color: #ED8618;
}
.banner-btm-text {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: 1px dotted #ddd;
    margin-top: 80px;
}
.banner-btm-text p {
    color: #333;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .5px;
}



.signup-form {
    padding-top: 50px;
}
.signup-form h2 {
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 50px;
    color: #ED8618;
    text-align: right;
}
.signup-form input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    color: #333;
    outline: none;
    font-size: 18px;
}
.signup-form #exampleCheck1 {
    width: 30px;
    height: 30px;
}
.signup-form .form-check-input {
    background-color: #ED8618;
}
.signup-form .form-check-label {
    padding-top: 7px;
    padding-left: 10px;
} 
.signup-form input[type="submit"] {
    display: inline-block;
    background: #ED8618;
    width: 200px;
    height: 60px;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 46px;
    border: 3px solid #ED8618;
    transition: all 0.5s;
    margin-top: 30px;
}
.signup-form input[type="submit"]:hover {
    border: 3px solid #ED8618;
    background-color: transparent;
    color: #ED8618;
}
.forget-pass {
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
    margin-top: 15px;
    display: inline-block;
    margin-bottom: 80px;
}

/* Login page css */
.login-page {
    background-image: url(assets/imgs/login.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    margin-top: -76px;
    padding-top: 70px;
    padding-bottom: 30px;
}
.login-form {
    padding-top: 100px;
    text-align: center;
}
.login-form h2 {
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 50px;
    color: #ED8618;
    text-align: right;
}
.login-form input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ddd;
    margin-bottom: 50px;
    padding-bottom: 10px;
    color: #333;    
    outline: none;
    font-size: 18px;
    text-align: center;
}
.login-form input[type="submit"] {
    display: inline-block;
    background: #8C52FF;
    width: 60%;
    height: 70px;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    border: 3px solid #8C52FF;
    transition: all 0.5s;
    margin-top: 20px;
    line-height: 40px;
    margin-bottom: 0;

}
.login-form input[type="submit"]:hover {
    border: 3px solid #8C52FF;
    background-color: transparent;
    color: #8C52FF;
}
.login-img h2 {
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
    padding-left: 50px;
}
.iam-new {
    margin-right: 30px;
}

/* =================== */

/* main header css */
.mobile_menu_area {
    display: none;
}
.main_header {
    background-color: #8C52FF;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}
.primary-menu {
    text-align: right;
    padding: 20px 0;
}
.primary-menu ul li {
    display: inline;
    padding-left: 40px;
    position: relative;
}
.primary-menu ul li a {
    display: inline-block;
    font-size: 20px;
    color: #fff !important;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.5s;
    position: relative;
    cursor: pointer;
}
.primary-menu ul li a::after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.primary-menu ul li a:hover:after {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.more_menu {
    background: #8C52FF;
    border: 1px solid #fff;
    position: absolute;
    width: 280px;
    right: 0;
    top: 45px;
    z-index: 9;
    border-radius: 4px;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.more_menu li a {
    display: block !important;
    font-size: 20px !important;
    position: unset !important;
    transition: all 0.5s;
}
.more_menu li a:hover {
    padding-right: 10px;
}
.primary-menu ul li:hover .more_menu {
    visibility: visible;
    opacity: 1;
}


/* ================= */


/* posts css */
.posts_page, .search_page {
    padding: 30px 0 50px;
    background-image: url(assets/imgs/sidebar-bg.png);
    background-position: right;
    background-repeat:repeat-y;
    background-size: 36%;
}
.post_content h3 {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 15px;
    position: relative;
    padding-left: 30px;
}
.post_content h3 p {
    font-size: 15px;
    font-weight: 400;
    color: grey;
}
.post_content h3 a {
    color: #333;
}
.post_content h3::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #8C52FF;
    border-radius: 50px;
    top: 3px;
    left: 0;
}
.post_content h4 {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    padding-top: 20px;
    padding-bottom: 10px;
}
.see_more {
    text-align: right;
}
.see_more a {
    display: inline-block;
    background: #8C52FF;
    font-size: 16px;
    padding: 10px 25px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 50px;
    border: 2px solid #8C52FF;
    transition: all 0.5s;
}
.see_more a:hover {
    color: #8C52FF;
    background-color: transparent;
}
.single_post {
    width: 100%;
    display: inline-block;

}
.post_content {
    float: left;
    width: 80%;
}
.post_content img {
    width: 100%;
    border-radius: 4px;
}

.post_other {
    float: left;
    width: 20%;
    padding-top: 150px;
    padding-left: 30px;
}
.post_other li a {
    display: inline-block;
    margin-bottom: 25px;
}
.post_other a i {
    font-size: 50px;
    color: #8C52FF;
    transition: all 0.3s;
}
.post_other a i.fas.fa-heart:hover {
    color: red;
}
.post_other a i.fas.fa-comments:hover {
    color: #ED8618;
}
.post_pasination {
    margin-top: 30px;
}
.post_pasination .page-item.active .page-link {
    background-color: #8C52FF;
    border-color: #8C52FF;
}
.post_pasination .page-link {
    color: #333;
}
/* ================= */

/* post sidebar css */
.recent_item {
    padding-bottom: 20px;
    width: 100%;
    display: inline-block;
}
.recent_posts h3 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.recent_posts .post_img {
    float: left;
    width: 40%;
}
.recent_posts .post_img img {
    transform: scale(0.9);
    transition: all 0.3s;
    width: 100%;
}
.recent_posts .post_img img:hover {
    transform: scale(1);
}
.recent_posts .post_text {
    float: left;
    width: 60%;
}
.recent_posts .post_text a {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    color: #333;
    transition: all 0.3s;
}
.recent_posts .post_text a:hover {
    color: #8C52FF;
}
/* ================= */

/* author profile */
.author_profile {
    padding: 30px 0 30px 30px;
    width: 100%;
    display: inline-block;
}
.author_img {
    float: left;
    width: 30%;
    padding-top: 40px;
}
.author_img img {
    width: 100%;
    border-radius: 100%;
    border: 10px solid #8C52FF;
}
.author_content {
    width: 70%;
    float: left;
    padding-left: 30px;
    padding-top: 40px;
}
.author_content h2 {
    font-size: 36px;
    text-transform: capitalize;
    color: #333;
    font-weight: 700;
    padding-bottom: 10px;
}
.author_content h2 span {
    padding-left: 5px;
}
.author_content h4 {
    font-size: 20px;
    color: #333;
    padding-bottom: 8px;
    font-weight: 400;
}
.author_content h4 span {
    font-weight: 700;
}
.author_content a {
    color: #8C52FF;
}
.author_content a:hover i {
    color: #ED8618;
    transform: rotate(180deg);
    transition: all 0.5s;
}
.author_content p {
    padding-right: 50px;
    font-size: 16;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.create_post {
    padding: 30px;
}
.create_post h3 {
    font-size: 30px;
    font-weight: 400;
    color: #333;
    padding-bottom: 10px;
}
.create_post textarea {
    height: 120px;
    margin-bottom: 20px;
}
.post_submit {
    float: right;
    background: #8C52FF;
    font-size: 24px;
    padding: 6px 20px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 5px;
    border: 2px solid #8C52FF;
    transition: all 0.5s;
}
.post_submit:hover {
    background-color:transparent;
    color: #8C52FF;
}
.author_gallery {
    padding: 30px 0 30px 100px;
}
.author_gallery .nav-link {
    font-size: 30px;
    font-weight: 500;
    color: #333;
    text-transform: capitalize;
}
.author_gallery .nav-link.active {
    font-weight: 700;
    color: #8C52FF;
}
.single_gallery {
    float: left;
    width: 50%;
}
.single_gallery img {
    width: 100%;
    height: 250px;
}
/* ================ */

/* Doctors page css */
section.dorctor_top {
    background-image: url(assets/imgs/green-bg.png);
    background-position: top;
    background-repeat: repeat-x;
    background-size: 200%;
    margin-top: -1px;
}
.doctor_icon {
    padding-top: 30px;
    text-align: center;
}
.doctor_icon img {
    border-radius: 100%;
    width: 280px;
}
.doctor_icon h3 {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}
.single_doctor button {
    border: none;
    border-radius: 4px;
    padding: 5px;
}
.dorctor_btm {
    padding: 50px 0;
    margin-bottom: 120px;
}
.single_doctor {
    width: 100%;
    display: inline-block;
}
.single_doctor .doc_img {
    width: 35%;
    float: left;
}
.single_doctor .doc_img img {
    border-radius: 100%;
}
.single_doctor .doc_content {
    width: 65%;
    float: left;
    padding: 35px 5px 0 15px;
    text-align: left;
}
.single_doctor .doc_content h3 {
    font-size: 18px;
    text-transform: capitalize;
    padding-bottom: 5px;
    font-weight: 700;
}
.single_doctor .doc_content p {
    font-size: 16px;
    text-transform: capitalize;
}
.dorctor_btm button.owl-prev {
    background: #8C52FF !important;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    position: absolute;
    left: 43%;
    color: #fff !important;
    font-size: 40px !important;
    bottom: -100px;

}
.dorctor_btm button.owl-next {
    background: #8C52FF !important;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    position: absolute;
    right: 43%;
    color: #fff !important;
    font-size: 40px !important;
    bottom: -100px;
}
/* ================= */

/* Tips and Tricks page css */
.tips_top {
    padding-top: 40px;
    background-image: url(assets/imgs/green-bg.png);
    background-position: top;
    background-repeat: repeat-x;
    background-size: 200%;
    margin-top: -2px;
}
.tips_icon {
    padding-top: 70px;
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 100%;
}
.tips_icon img {
    width: 200px;
}
.tips_title h3 {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: -50px;
    padding-bottom: 50px;
}
.tips_btm {
    padding-bottom: 50px;
}
.tips_tabs h3 {
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

/* ================= */


/* Buy, Sell and adopt page css */
.tips_middle {
    padding-bottom: 30px;
}
.buy_top {
    padding-top: 40px;
    background-image: url(assets/imgs/green-bg.png);
    background-position: top;
    background-repeat: repeat-x;
    background-size: 180%;
}
.buy_icon {
    padding-top: 50px;
    text-align: center;
    width: 280px;
    height: 280px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 100%;
}
.buy_icon img {
    width: 120px;
}
.buy_title h3 {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: -50px;
    padding-bottom: 50px;
}
.buy_middle {
    padding-bottom: 50px;
}
.adopt_pets {
    width: 100%;
    display: inline-block;
}
.adopt_pets h3 {
    font-size: 24px;
    font-weight: 700;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.single_ads {
    float: left;
    width: 45%;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #ddd;
}
.single_ads img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}
.single_ads a {
    display: inline-block;
    margin: 10px 5px;
    font-size: 18px;
    text-transform: capitalize;
    color: #333;
    transition: all 0.3s;
}
.single_ads a:hover {
    color: #8C52FF;
}
.single_ads p {
    padding: 0px 5px 10px;
    text-transform: capitalize;
}
.single_ads i {
    color: #8C52FF;
    padding-right: 5px;
}
.adopt_pets .see_more a {
    margin-top: 20px;
    margin-right: 20px;
} 
.new_ads {
    margin-top: 150px;
}
.new_ads a {
    display: inline-block;
    background: #ED8618;
    padding: 20px 50px 20px 20px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 46px;
    border: 2px solid #ED8618;
    transition: all 0.5s;
}
.new_ads a:hover {
    background: transparent;
    color: #ED8618;
}
.modal-body a {
    display: inline;
    background: #ED8618;
    padding: 12px 20px;
    margin: 0 5px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 46px;
    border: 2px solid #ED8618;
    transition: all 0.5s;
}
.modal-body a:hover {
    background: transparent;
    color: #ED8618;
}
.new_ads a:hover i {
    border: 2px solid #ED8618;
}
.new_ads a i {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    margin-top: -2px;
    font-size: 16px;
    margin-right: 8px;
}
.new_ads.desktop {
    display: block;
}
.mobile {
    display: none;
}
.adoption_single_img img {
    width: 100%;
}
.adoption_single_info h3 {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.adoption_single_info h4 {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 5px;
}
.adoption_single_info p {
    font-size: 16px;
    padding-top: 20px;
}
.adoption_single_info strong{
    font-weight: 700;
}
.adoption_single_content h3 {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
    padding-top: 30px;
    color: #333;
    padding-bottom: 10px;
}
.adoption_single_content p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

/* ================= */


/* Contact Us CSS */
.contact_page {
    background-image: url(assets/imgs/contact.png);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -80px;
    padding-top: 120px;
    padding-bottom: 50px;
}
.contact_content {
    text-align: right;
}
.contact_content h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
    margin-bottom: 30px;
    display: inline-block;
}
.contact_content h4 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 5px;
    text-transform: capitalize;
}
.contact_content p {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 30px;
}
.contact_content ul li {
    display: inline-block;
    padding-left: 20px;
}
.contact_content ul li a img {
    width: 50px;

}
/* =============== */

/* Footer CSS */
footer {
    padding: 40px;
    text-align: center;
    background: #8C52FF;
}
footer p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}
/* =========== */

/* Donate Page CSS */

.donate_page {
    background-image: url(assets/imgs/donate-bg.png);
    background-position: center;
    background-size: center;
    background-repeat: no-repeat;
    margin-top: -80px;
    padding-top: 120px;
    padding-bottom: 50px;
}
.donate_page {
    text-align: right;
}
/* ================ */

/* buy sell page css */
.single-item {
    background-color: #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}
.single-item a {
    display: block;
    font-size: 18px;
    text-transform: capitalize;
    color: #333;
    transition: all 0.3s;
}
.single-item img {
    width: 100%;
    height: 200px;
    border-radius: 4px 4px 0 0;
}
.single-item p {
    padding: 0px 10px 10px;
    text-transform: capitalize;
}
.single-item i {
    color: #8C52FF;
    padding-right: 5px;
}
.buy_sell_page .new_ads {
    margin-top: 0;
    margin-bottom: 30px;
}



/* ==================== */

/* buy sell form css */
.adoption_form {
    padding: 50px 0;
}
.form-outer {
    width: 100%;
    margin-left: 50%;
}
.adopt_btn {
    display: inline-block;
    background: #8C52FF;
    font-size: 16px;
    padding: 12px 36px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 50px;
    border: 2px solid #8C52FF;
    transition: all 0.5s;
}
.adopt_btn:hover {
    color: #8C52FF;
    background-color: transparent;
}


/* ========= */

/* update profile css */
.profile_sidebar {
    background: #8C52FF;
    margin: 100px 0;
}
.profile_sidebar li a {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}
.profile_sidebar li .active {
    background-color: #ED8618;
}
.update_topic {
    padding: 50px 0 100px 100px;
}
.update_topic h2 {
    font-size: 36px;
    color: #333;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 30px;
}
.update_topic textarea {
    height: 150px;
}
.update_topic input[type="submit"] {
    display: inline-block;
    background: #ED8618;
    width: 200px;
    height: 60px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 46px;
    border: 3px solid #ED8618;
    transition: all 0.5s;
    margin-top: 30px;
}

/* ================== */

.forgot_form {
    padding: 30px 0 300px;
    position: relative;
}
.show-message {
    padding-top: 100px;
}
.forgot_form input[type="submit"] {
    position: absolute;
    top: 10px;
    right: 0;
    display: inline-block;
    background: #8C52FF;
    width: 120px;
    height: 38px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
    border: none;
    transition: all 0.5s;
    margin-top: 20px;
    line-height: 30px;
    margin-bottom: 0;
}

.modal-dialog {
    max-width: 750px;
}
.modal-body p {
    padding-bottom: 5px;
}
#exampleModalLabel {
    font-weight: 700;
}
.see_activites {
    width: 100%;
    display: inline-block;
    padding: 30px;
}

/* Search page css */
.search_area input[type="text"] {
    width: 80%;
    padding: 12px;
    border: 1px solid #8C52FF;
    border-radius: 5px;
}
.search_area input[type="submit"] {
    width: 19%;
    padding: 12px;
    border: 1px solid #8C52FF;
    border-radius: 5px;
    background-color: #8C52FF;
    color: #fff;
    font-weight: 500;
}
.search_area {
    padding-bottom: 30px;
}
.search_page {
    padding-top: 30px;
}
.search_page .post_content h3 {
    padding-bottom: 0;
}
.search_page .total_posts {
    margin-bottom: 30px;
    width: 100%;
    display: inline-block;
}
.search_page .total_posts p {
    float: left;
    width: 50%;
}
.search_page .total_posts p:last-child {
    text-align: right;
}
.search_page .total_posts a {
    color: red;
}
.search_page .post_content h3 {
    font-size: 18px;
}
.search_page .post_content h3 a {
    color: rgb(59, 59, 230);
}
.search_page .post_content {
    float: unset;
    width: 100%;
}

/* ============== */

/* User page css */
.user_page .author_gallery {
    padding: 30px 0;
}
.user_page .title h2 {
    padding-bottom: 0;
    margin-bottom: 0;
}


/* ============== */
.edit_post_area {
    padding: 60px 0;
}
.edit_post_area input[type="submit"] {
    display: inline-block;
    background: #8C52FF;
    font-size: 16px;
    padding: 10px 25px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 50px;
    border: 2px solid #8C52FF;
    transition: all 0.5s;
}
.about_us {
    padding-bottom: 50px;
}
.about_us h2 {
    margin-bottom: 0;
}
.group_member {
    padding-bottom: 50px;
}
.group_member img {
    width: 100%;
}
.group_member h3 {
    text-transform: capitalize;
    padding-bottom: 5px;
    color: #333;
    font-size: 24px;
    padding-top: 5px;
}
.group_member p {
    text-transform: capitalize;
    padding-bottom: 5px;
    color: #333;
    font-size: 16px;
}
.buy_title {
    padding-bottom: 30px;
}
.see_activites a {
    margin-top: 50px;
    display: inline-block;
    background: #8C52FF;
    font-size: 24px;
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 5px;
    border: 2px solid #8C52FF;
    transition: all 0.5s;
}
.see_activites a:hover {
    background-color: transparent;
    color: #8C52FF;
}