/* Default CSS */

*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'roboto';
    src: url(assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'roboto';
    src: url(assets/fonts/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'roboto';
    src: url(assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'roboto';
    src: url(assets/fonts/Roboto-Black.ttf);
    font-weight: 900;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    color: #333;
    padding-bottom: 10px;
    margin-bottom: 30px;
}